<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"><img src="https://previews.123rf.com/images/yod67/yod671611/yod67161100129/68286253-vector-afbeelding-van-een-paard-hoofd-ontwerp-op-een-witte-achtergrond-paard-logo-wilde-dieren-vecto.jpg" height="60" width="60" alt=""></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Главная страница</a></li>
            <li><a href="/about">Общая информация</a></li>
            <li><a href="/photo">Фотогалерея</a></li>
            <li><a href="/info">Обратная связь</a></li>
        </ul>
    </div>
</nav>

